
.list-item{
    background-color: white; 
    text-align: center;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.selected-list-item{
    background-color: blue; 
    text-align: center;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.input-container{
    background-color: lightgrey;
    border-radius: 20px;
}

.team-heading{
    text-align: center;
}

.scroll-container{
    max-height: 400px;
    overflow-y: scroll;
    align-items: center;
    background-color: lightgrey;
    border-radius: 20px;
    margin-bottom: 5px;
}

.report-container{
    max-height: 400px;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
}

.loading-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-team-btn{
    float: "left";
    margin: "20px";
}

.wm-select-input{
    width: "100px";
}